@import url('https://fonts.googleapis.com/css?family=Lilita+One|Raleway');


/*------------------------- VARIABLES */
:root {

    /* fonts */
    --font-heading: 'Lilita One', cursive;
    --font-default: "Raleway", sans-serif;
  
    /* Colors */
    --color-green: #084e3f;
    --color-red: #ff5b5e;
    --color-deep-blue: #28313b;
    --color-light-grey: #97a4b1;
    --color-mid-blue: #34495e;
    --color-almost-white: #e8eef4;
  
    /* abstract colors out */
    --main-text-color: var(--color-mid-blue);
    --strong-text-color: var(--color-deep-blue);
    --alternative-text-color: var(--color-almost-white);
    --error-color: var(--color-red);
    --border-color: var(--color-light-grey);
    
    --secondary-bg-color: var(--color-almost-white);
    --alternative-bg-color: var(--color-green);
    
    /* measurements*/
    --padder: 3%;
    --spacer: 20px;
    --spacer-large: 80px;
    --transition-time: 0.3s;
  
    --area-wide: 1200px;
  
    /* font sizes */
    --font-size-site-title: 32px;
    --font-size-page-title: 40px;
    --font-size-section-title: 30px; 
    --font-size-sub-title: 24px;
    --font-size-heading-small: 16px;
  }
  /*----- Responsive design-------*/

  @media screen and (min-width: 800px) {
      :root{
        --font-size-site-title: 54px;
        --font-size-page-title: 80px;
        --font-size-section-title: 48px; 
      }
  }
/*------------------------- GLOBAL DEFAULTS */
*{
  box-sizing: border-box;
}
body { 
font-family: var(--font-default);
color: var(--main-text-colour);
line-height: 1.8;
font-size: 18px;
}

img,
video {
    max-width: 100%;
    height: auto;
}

iframe {
  max-width: 100%;
}
/*------------------------- HEADING AND TYPE */

h1,
h2,
h3,
h4,
h5{
  font-family: var(--font-heading);
  color: var(--strong-text-color);
  font-weight: normal;
}
h1{font-size: var(--font-size-page-title);}
h2{font-size: var(--font-size-section-title);}
h3{font-size: var(--font-size-sub-title);}

/*-------Hyperlink settings-----*/
a{
  color: var(--error-color);
  transition: var(--transition-time);}

a:hover {color: var(--strong-text-color);
}

/*------------------------- LAYOUTS */
.layout-full-width,
.layout-wide {
              margin-bottom: var(--spacer-large);
}
.layout-full-width {100%;}
.layout-wide { 
  max-width: var(--area-wide);
padding-left: var(--padder);
padding-right: var(--padder);



margin-left: auto;
margin-right: auto;
}
/*------------------------- HEADER */

header {background-color: var(--alternative-bg-color);
padding-top: var(--padder);
}

header .layout-wide {
  overflow: hidden;
  margin-bottom: 0;
}
.logo {max-width: 50px;}
.logo-wrapper { widows: 20%;
}
.site-title {
  font-family:  var(--font-heading);
  font-size: var(--font-size-site-title);
  color: var(--alternative-text-color);
  width: 80%;
  text-align: right;
  float: right;

}
/*------------------------- NAVIGATION */

.navigation{
  background-color: var(--alternative-bg-color);
  position: sticky;
  top: 0;

  z-index: 10;
}
.nav-prompt{
  width: 100%;
  background-color: var(--alternative-bg-color);
  color: white;
  border: none;
  border-top: 1px solid black;
  padding-top:  var(--padder);
  Padding-bottom: var(--padder);
}
.nav-inner{
  margin-bottom: 0;
  padding-bottom: var(--padder);
}
.nav-inner ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-inner li {
  text-align: center;
}
.nav-inner a {
  display: block;
  color: white;
  padding: var(--spacer) 0;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid var(--border-color);
}
.nav-inner a:hover{
  color: var( --error-color);
}
.nav-inner .active {
  border-bottom: 2px solid white;
  font-weight: bold;

}

@media screen and (min-width: 800px) {

    .nav-prompt{
      display: none;
    }
    .nav-inner ul {
      display: flex;
      justify-content: space-between;
    }
    .nav-inner {
      border-bottom: 2px solid transparent;
    }
}
@media screen and (max-width: 800px) {
  .nav-inner{
    overflow: hidden;
    transition: var(--transition-time);

  }

  .nav-inner[aria-expanded="false"] {
    max-height: 0;
  }

  .nav-inner[aria-expanded="true"]{
    max-height: 100vh
  }
}

/*------------------------- FOOTER */

footer {background-color: var(--alternative-bg-color)}

.footer-subscribe {background-color:
 var(--secondary-bg-color);
padding-top: var(--spacer-large);
padding-bottom: var(--spacer-large);
text-align: center;
}
.footer-notices {
  padding-top: var(--spacer);
padding-bottom: var(--spacer);
}
.footer-notices .layout-wide{
  margin-bottom:0;
  text-align: center;
}
.copyright {
  color: #fff;
}
/*------------------------- FORMS */
label{
  display: block;
  font-weight: bold;
}
input[type="text"] ,
input[type="email"]{
  border-color: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 10px;
  width: 480px;
  max-width: 100%;
  margin-bottom: var(--spacer); 
}
input[type="submit"] {
  font-family: var(--font-heading);
  text-transform: uppercase;
  background-color: var(--alternative-bg-color);
  border-radius: 30px;
  padding: var(--padder);
  min-width: 200px;

color: ghostwhite;
}
/*------------------------- MODULES */
/* hero module */

@media screen and (min-width:800px) {
    .hero-module {
      position: relative;
    }
    .hero-module img {
      width: 100%;
    }
    .hero-content {
      height: 100%;
      width: 100%;

      position: absolute;
      bottom: 0;

      text-align: center;
      display: flex;
      align-items: center;
    }
    .hero-content .heading-main {
      color: white;
      text-shadow: 0px 1px 10px var(--strong-text-color);
    }
  }

  /* Grids */
  @media screen and (min-width: 100px) {

    .content-area-grid { 
      display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
    }
  }
  /* image Gallery*/
  .image-gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
    overflow: hidden;
  }
  .image-gallery li {
    max-width: 250px;
    float: left;
    margin: 10px;
  }
  .image-gallery a img {
    filter: grayscale(70%);
    transition: var(--transition-time);
    box-shadow: 0px 1px 10px var(--strong-text-color);
  }
  .image-gallery a:hover img {
    filter: unset;
    transform: scale(1.05);
}

/* animation*/

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
main{
  animation-name: fadein;
  animation-duration: 2s; 
}

@keyframes spin {
  100%{transform:rotate(720deg)}
}
.logo-wrapper a:hover img {
  animation-name: spin;
animation-duration: 0.5s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}